<footer class="mainColor flex flex-col  justify-center gap-8 items-center h-80">
<div class="flex justify-center w-full gap-5 text-white  items-center">
<a class="cursor-pointer" >Profile</a>
<a class="cursor-pointer" >Home</a>
<a class="cursor-pointer" >Categories</a>
<a class="cursor-pointer" >favorite</a>
</div>


<!-- social media -->
 <div class="flex justify-center w-full gap-5 text-white  items-center">
    <i class="fa-brands fa-facebook fa-lg" style="color: #ffffff; cursor:pointer"></i>
    <i class="fa-brands fa-instagram fa-lg" style="color: #ffffff; cursor:pointer"></i>
    <i class="fa-brands fa-youtube fa-lg" style="color: #ffffff; cursor:pointer"></i>
    <i class="fa-brands fa-tiktok fa-lg" style="color: #ffffff; cursor:pointer"></i>
</div>


<!--  -->
<p class="text-white text-center">© 2026 Your Company, Inc. All rights reserved.</p>
</footer>