
<section  class=" bg-white h-screen w-full lg:absolute flex justify-center mt-5 lg:m-0 items-start lg:items-center right-0 top-0 lg:w-1/2 xl:w-1/4 ">
    
<form [formGroup]="ForgetPassPassword" (ngSubmit)="fnforgetPassword(ForgetPassPassword)"  class="flex justify-center w-full p-2 flex-col gap-2 items-center " action="">
    <h3 class="pacifico-regular font-extrabold text-4xl text-color mb-5">Foodify</h3>

     <p class=" font-bold pacifico-regular">please enter your phone number to reset the password</p>

   <div class="w-11/12 md:w-3/4">
   <input  
      type="text"  formControlName="phone"
      class="block p-2 w-full text-sm outline-none rounded-1 border border-gray-300  "
      placeholder="Enter your Phone Number">
     <p *ngIf="ForgetPassPassword.get('phone')?.invalid && ForgetPassPassword.get('phone')?.touched" class="text-red-500 text-sm">Please enter a valid phonenumber</p>

</div>
      


  <input 
      type="submit" id="name" value="Confirm"
      class="block  mainColor text-white p-2 w-11/12 md:w-3/4   cursor-pointer text-sm outline-none rounded-1 border border-gray-300 "
    >
   
</form>
</section>